@model IEnumerable<BudgetApp.ViewModels.Expenses.Output.ExpenseViewModel>

@{
    ViewData["Title"] = "Wydatki";
}

<h1>Wydatki</h1>

<div class="row">
    <div class="col">
        @if (!Model.Any())
        {
            <p>Nie znaleziono żadnych wydatków</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Wartość</th>
                        <th scope="col">Data</th>
                        <th scope="col">Kategoria</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var expense in Model)
                    {
                        <tr>
                            <td>@expense.Name</td>
                            <td class="text-danger">@expense.Value.ToString("0.00")</td>
                            <td>@expense.DateTime.ToString("yyyy-MM-dd")</td>
                            <td>@expense.CategoryName</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<a class="btn btn-primary" asp-controller="Expenses" asp-action="Add">Nowy wydatek</a>
<a class="btn" asp-controller="Categories" asp-action="List">Kategorie</a>